<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <!-- <a href="/" class="navbar-brand"><i class="fa fa-table fa-2x"></i><span class="brand-title">&nbsp;{{vm.navline.title}}</span></a> -->
    <a href="/" class="navbar-brand" style="font-size:2em;color:white"><i class="fa fa-home fa-lg"></i> {{vm.navline.title}}</a>
    
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right" ng-controller="MainMenuController as vm">

        <!-- <li ng-controller="SidebarController as vm"  ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
            <a ui-sref="dashboard" ng-bind-html="r.settings.content"></a>
        </li> -->
        <!-- <li>
          <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>
        </li> -->
        <!-- <li class="dropdown dropdown-big">
          <a href="http://www.angularjs.org" target="_blank">
            <img src="images/AngularJS-small.png" />
          </a>
      </li> -->

        <li ng-repeat="r in vm.navRoutes">
            <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
        </li>
              
        
        <li  ng-hide="$root.authUser" ui-sref="login"><a><i  class="fa fa-sign-in"></i> Sign in</a></li>
 

        <li ng-hide="$root.authUser" >
            <a target="_self" href="api/loginFacebook"><span  class="fa fa-facebook fa-lg"></span>
            </a>            
        </li> 

        <!-- <li ui-sref="loginTwitter" ng-hide="$root.authUser" > -->
         <li ng-hide="$root.authUser" > 
            <a target="_self" href="api/loginTwitter"><span   class="fa fa-twitter fa-lg"></span>
            </a>
            
        </li>

        <!-- <li ng-click="vm.singin('google')" ng-hide="$root.authUser" >
            <a><span  class="fa fa-google fa-lg"></span>
            </a>
        </li> -->
        <!-- User auth info -->
        <li id="userAuthInfo" ng-show="$root.authUser">            
            <a><img src="{{$root.authUser.photos[0].value}}" /> Welcome  {{ $root.authUser.displayName}}</a>
        </li>

        <!-- Logout button -->
        <li id="logoutButton" ng-show="$root.authUser">
            <a target="_self" href="api/logout"><span class="fa fa-sign-out"></span>Logout</a>
        </li>
        </section>
      </ul>
    </div>
  </div>
</nav>
