<div class="col-md-12">
<div class="widget wviolet">
  <div ht-widget-header title="New Mortgage form" allow-collapse="true"></div>
  <div class="widget-content text-center text-info">
<form name="mortgageForm" novalidate method="POST" class="form-horizontal" id="formulario_products"  ng-submit="vm.submitAndSaveHipoteca()" >

  <div class="row">
  <div class="col-sm-6">
<fieldset>

     <legend class="text-info">Economic data</legend>
     <div class="form-group required">
          <label class="control-label col-sm-6">MONTHLY INCOME:</label>
          <div class="col-sm-6">
              <input required ng-model="vm.hipoteca.dadesEconomiques.ingresosMensuals"  id="ingresosMensuals" name="ingresosMensuals" placeholder="Ingresos mensuales" type="number" min="0" class="form-control">
    <span class="text-danger" ng-show="mortgageForm.ingresosMensuals.$error.required && (mortgageForm.ingresosMensuals.$dirty || mortgageForm.ingresosMensuals.$touched)">El camp &eacute;s obligatori</span>
          </div>

      </div>

      <div class="form-group required">
          <label class="control-label col-sm-6">CAPITAL:</label>
          <div class="col-sm-6">
              <input required ng-model="vm.hipoteca.dadesEconomiques.capital" id="capital" name="capital" placeholder="capital" type="number" class="form-control" >
    <span class="text-danger" ng-show="mortgageForm.capital.$error.required && (mortgageForm.capital.$dirty || mortgageForm.capital.$touched)">El camp &eacute;s obligatori</span>

          </div>
      </div>

      <div class="form-group required">
          <label class="control-label col-sm-6">INTEREST RATE </label>
          <div class="col-sm-6">
              <select ng-model="vm.hipoteca.dadesEconomiques.tipusInteres" name="interest_rate_type" id="interest_rate_type" class="form-control" ng-change="resetValues()">
                  <option value="variable">variable</option>
                  <option value="fixed">fixed</option>
              </select>
          </div>
      </div>

      <div class="form-group" ng-class="{required:vm.hipoteca.dadesEconomiques.tipusInteres==='variable'}">
          <label class="control-label col-sm-6">EURIBOR:</label>
          <div class="col-sm-6">

              <input ng-required="vm.hipoteca.dadesEconomiques.tipusInteres==='variable'" ng-model="vm.hipoteca.dadesEconomiques.euribor" ng-disabled="vm.hipoteca.dadesEconomiques.tipusInteres==='fixed' || vm.hipoteca.dadesEconomiques.tipusInteres===undefined" id="euribor" type="number" name="euribor" placeholder="euribor" type="text" class="form-control" >
    <span class="text-danger" ng-show="mortgageForm.euribor.$error.required && (mortgageForm.euribor.$dirty || mortgageForm.euribor.$touched)">El camp &eacute;s obligatori</span>

          </div>
      </div>

      <div class="form-group" ng-class="{required:vm.hipoteca.dadesEconomiques.tipusInteres==='variable'}">
          <label class="control-label col-sm-6">DIFFERENTIAL:</label>
          <div class="col-sm-6">
              <input ng-required="vm.hipoteca.dadesEconomiques.tipusInteres==='variable'" ng-model="vm.hipoteca.dadesEconomiques.diferencial" ng-disabled="vm.hipoteca.dadesEconomiques.tipusInteres==='fixed' || vm.hipoteca.dadesEconomiques.tipusInteres===undefined" id="differential" type="number" name="differential" placeholder="differential" type="text" class="form-control">
    <span class="text-danger" ng-show="mortgageForm.differential.$error.required && (mortgageForm.differential.$dirty || mortgageForm.differential.$touched)">El camp &eacute;s obligatori</span>

          </div>
      </div>

      <div class="form-group" ng-class="{required:vm.hipoteca.dadesEconomiques.tipusInteres==='fixed'}">
          <label class="control-label col-sm-6">FIXED INTEREST RATE</label>
          <div class="col-sm-6">
              <input ng-required="vm.hipoteca.dadesEconomiques.tipusInteres==='fixed'" ng-model="vm.hipoteca.dadesEconomiques.interesFixe" ng-disabled="vm.hipoteca.dadesEconomiques.tipusInteres==='variable' || vm.hipoteca.dadesEconomiques.tipusInteres===undefined" id="fixed_interest" name="fixed_interest" placeholder="Fixed interest rate" type="number" class="form-control" >
    <span class="text-danger" ng-show="mortgageForm.fixed_interest.$error.required && (mortgageForm.fixed_interest.$dirty || mortgageForm.fixed_interest.$touched)">El camp &eacute;s obligatori</span>

          </div>
      </div>

      <div class="form-group required">
          <label class="control-label col-sm-6">PERIOD</label>
          <div class="col-sm-6">
              <input ng-model="vm.hipoteca.dadesEconomiques.terminiAnys" id="period" required type="number" name="period" placeholder="How many years?" class="form-control">
    <span class="text-danger" ng-show="mortgageForm.period.$error.required && (mortgageForm.period.$dirty || mortgageForm.period.$touched)">El camp &eacute;s obligatori</span>

          </div>
      </div>

</fieldset>
</div>
<div class="col-sm-6">
<fieldset>

    <legend class="text-info">Personal data</legend>
         <div class="form-group required">
        <label class="control-label col-sm-6">NIF:</label>
<div class="col-sm-6">
          <input ng-model="vm.hipoteca.nif" id="nif" name="nif" required  placeholder="With char letter at the end, please." type="text" class="form-control"   ng-pattern="/(^[X-Z]\d{7}[A-Z]$)|(^\d{8}[A-Z]$)/" value= >
  <span class="text-danger" ng-show="mortgageForm.nif.$error.required && (mortgageForm.nif.$dirty || mortgageForm.nif.$touched)">El camp &eacute;s obligatori</span>
  <span class="text-danger" ng-show="mortgageForm.nif.$error.pattern">NIF not valid</span>

        </div>
      </div>
      <div class="form-group required">
          <label class="control-label col-sm-6">NAME:</label>
      <div class="col-sm-6">
                   <input ng-model="vm.hipoteca.nombre" id="nombre" name="name" required  placeholder="Name" type="text" class="form-control" value=>
         <span class="text-danger" ng-show="mortgageForm.name.$error.required && (mortgageForm.name.$dirty || mortgageForm.name.$touched)">El camp &eacute;s obligatori</span>

      </div>
      </div>
      <div class="form-group required">
          <label class="control-label col-sm-6">SURNAME:</label>
          <div class="col-sm-6">
          <input ng-model="vm.hipoteca.ape1" id="surname1" name="surname1" required  placeholder="First Surname" type="text" class="form-control" >
  <span class="text-danger" ng-show="mortgageForm.surname1.$error.required && (mortgageForm.surname1.$dirty || mortgageForm.surname1.$touched)">El camp &eacute;s obligatori</span>

  </div>
      </div>

      <div class="form-group">
          <label class="control-label col-sm-6">2ND SURNAME:</label>
          <div class="col-sm-6">
      <input ng-model="vm.hipoteca.ape2" id="surname2" name="surname2"  placeholder="Second Surname" type="text" class="form-control">
  </div>
  </div>
<div class="form-group">
          <label class="control-label col-sm-6">AGE:</label>
          <div class="col-sm-6">
          <input ng-model="vm.hipoteca.edad" id="age" name="age"  placeholder="Don t lie" type="number" min="18" class="form-control" >
  <span class="text-danger" ng-show="!mortgageForm.age.$valid && mortgageForm.age.$dirty ">Minimum 18 years old</span>

  </div>

      </div>
      <div class="form-group">
          <label class="control-label col-sm-6">MOBILE:</label>
          <div class="col-sm-6">
          <input ng-model="vm.hipoteca.telefono" id="mobile" name="mobile" placeholder="Mobile number" type="text" class="form-control">
          </div>
      </div>
      <div class="form-group required">
          <label class="control-label col-sm-6">EMAIL</label>
          <div class="col-sm-6">
          <input ng-model="vm.hipoteca.email" id="email" name="email" required type="email" placeholder="email" class="form-control"  >
  <span class="text-danger" ng-show="mortgageForm.email.$error.required && (mortgageForm.email.$dirty || mortgageForm.email.$touched)">El camp &eacute;s obligatori</span>
  <span class="text-danger" ng-show="mortgageForm.email.$error.email">Email not valid</span>

          </div>
      </div>

</fieldset>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<fieldset>

   <legend class="text-info">Associated products</legend>
   <div class="checkbox">
      <label class="control-label col-sm-8">Home insurance </label>
      <div class="col-sm-4">
          <input ng-model="vm.hipoteca.dadesEconomiques.producteSegurCasa" name="homeInsurance" id="homeInsurance"  type="checkbox" class="form-control">

      </div>
   </div>
   <div class="checkbox">
      <label class="control-label col-sm-8">Paysheet </label>
      <div class="col-sm-4">
          <input ng-model="vm.hipoteca.dadesEconomiques.producteNomina" name="paysheet" id="paysheet" type="checkbox" class="form-control">
      </div>
  </div>
  <div class="checkbox">
      <label class="control-label col-sm-8">Life insurance</label>
      <div class="col-sm-4">
          <input ng-model="vm.hipoteca.dadesEconomiques.producteSegurVida" name="lifeInsurance" id="lifeInsurance" type="checkbox" class="form-control">
      </div>
 </div>
</fieldset>
</div>
      <div class="col-sm-4">
      <fieldset>

             <legend class="text-info">RESULTS</legend>
          <div class="form-group">
              <label class="control-label col-sm-6">Monthly quote</label>
              <div class="col-sm-6">
                  <input ng-model="vm.hipoteca.quotaMensual" id="monthlyQuote" name="monthlyQuote" readonly  placeholder="Monthly quote" type="text" class="form-control" >
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-6">Interest rate applied</label>
              <div class="col-sm-6">
                  <input ng-model="vm.hipoteca.interesAplicat" id="interestApplied" name="interestApplied" readonly  placeholder="Interest Applied" type="text" class="form-control">
              </div>
          </div>
          <input name="send" type="submit" value="SAVE MORTGAGE INFO" >
      </div>
    <div class="col-sm-4">
        <h3>Interest paid: {{vm.hipoteca.totalInteresos}}</h3>
    </div>
     </div>
 </form>
</div>
<div class="widget-foot">
  <div class="clearfix"></div>
</div>
</div>
</div>
</div>
</center>
