
<section id="dashboard-view" class="mainbar" style="background: transparent;">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            
             <div  class"col-md-12">  
                <a ng-hide="$root.authUser" ui-sref="hipoteca">
                <div class="widget blightblue">
                  
                  <div class="widget-content text-center text-info" style="padding:2.5em;">
                        <span class="bold" style="color:white;font-size:1.8em;" ><i class="fa fa-money fa-lg"></i>{{'GROUND' | translate}}</span>
                  </div>   

                </div></a>
              
                <a ui-sref="hipoteca">
                  <div class="widget bblue" >               
                  <div class="widget-content text-center text-info" style="padding:2.5em">
                        <span class="bold" style="color:white;font-size:1.8em;"><i class="fa fa-money fa-lg"> </i>{{'RECOVER_SET_UP' | translate}} </span>
                  </div>   
                </div></a>
              </div> 

              <div ng-hide="$root.authUser" class"col-md-12">  
                 <a ui-sref="hipoteca">
                  <div class="widget bgreen" >               
                  <div class="widget-content text-center text-info" style="padding:2.5em">
                        <span class="bold" style="color:white;font-size:2.5em;"><i class="fa fa-pencil fa-lg"> </i> {{'NEW_SIMULATION' | translate}} </span>
                  </div>   
                </div></a>
              </div>

             <div ng-show="$root.authUser" class="col-md-12" >
            <div class="widget wgreen">
            <div ht-widget-header title="{{'YOUR_SIMULATIONS' | translate}}" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
                <table class="table table-condensed table-striped" >
                 <thead>
                   <tr>
                     <th>Id</th>                     
                     <th>{{'USER' | translate}}</th>
                     <th>Capital</th>
                     <th>{{'INTEREST_RATE' | translate}}</th>
                     <th>{{'QUOTE' | translate}}</th>
                     <th>{{'DELETE' | translate}}</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr ng-repeat="hipo in vm.mortgagesList" >
                     <td><a ui-sref="hipotecaEdit({idHipoteca: hipo.$id})">{{$index+1}}</a></td>                     
                     <td>{{$root.authUser.displayName}}</td>
                     <td>{{hipo.dadesEconomiques.capital|currency:'€'}}</td>
                     <td>{{hipo.interesAplicat}}</td>
                     <td>{{hipo.quotaMensual}}</td>

                     <td>
                         <a><i class="fa fa-trash-o" ng-click="vm.mortgagesList.$remove(hipo)" aria-hidden="true"></i></a>
                        <!-- <button class="btn btn-danger" ng-click="vm.mortgagesList.$remove(hipo)" aria-label="Remove">X</button> -->
                     </td>
                   </tr>
                 </tbody>
               </table>
            </div>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>  

        

        </div>
         <div class="col-md-6">
          <div class="widget borange" >               
               <div class="widget-content text-center text-info" style="padding:2.5em">
                    <span class="bold" style="color:white;font-size:1.8em;"><i class="fa fa-balance-scale fa-lg"></i>&nbsp;{{vm.messageCount}} {{'LAWYERS_AROUND' | translate}}</span>
               </div>
          </div>
          <div class="widget-content text-center text-info">
                <!-- <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>                    
                    <ui-gmap-markers models="vm.randomMarkers" coords="'self'" icon="'icon'">
                       <ui-gmap-windows show="show">
                          <div ng-non-bindable>{{info}}</div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>
                </ui-gmap-marker>
                </ui-gmap-google-map> -->
                <ng-map  default-style="true" center="[39.57, -3.52]">
                   <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
                  <marker ng-repeat="lawyer in vm.lawyers" id="{{lawyer.id}}" position="{{lawyer.lat}},{{lawyer.lng}}" icon="{
        url:'images/icon_lawyer.png'}" on-click="vm.showDetailLawyer(lawyer)"></marker>

                  <info-window id="foo-iw">
                    <div ng-non-bindable="">
                    id: {{vm.lawyer.id}}<br/>
                    name: {{vm.lawyer.firstName}} {{vm.lawyer.lastName}}<br/>
                    Age: {{vm.lawyer.age}}<br/>
                    Location: {{vm.lawyer.location}}<br/>                                        
                    Position: {{vm.map.markers[vm.lawyer.id].getPosition()}}<br/>
                    <a href="#" ng-click="vm.clicked()">Click Here</a>
                  </div>
                </info-window> 
                </ng-map>
            </div>
        </div> 
       
      </div>
    </div>
  </section>
</section>
