<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="today-datas">
            <li class="blightblue">
              <div class="pull-left"><i class="fa fa-plane"></i></div>
              <div class="datas-text pull-right">
                <span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
              </div>
              <div class="clearfix"></div>
            </li>

            <li class="borange">
              <div class="pull-left"><i class="fa fa-envelope"></i></div>
              <div class="datas-text pull-right">
                <span class="bold">{{vm.messageCount}}</span> Messages
              </div>
              <div class="clearfix"></div>
            </li>

          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget wgreen">
            <div ht-widget-header title="{{vm.mortgageInfo.title}}" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
                <table class="table table-condensed table-striped" >
                 <thead>
                   <tr>
                     <th>IdHipoteca</th>
                     <th>DNI</th>
                     <th>Nom i cognoms</th>
                     <th>Capital</th>
                     <th>Tipus d'interés</th>
                     <th>Quota</th>
                     <th>Borrar</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr ng-repeat="hipo in vm.mortgagesList" >
                     <td><a ui-sref="hipotecaEdit({idHipoteca: hipo.$id})">{{$index+1}}</a></td>
                     <td>{{hipo.nif}}</td>
                     <td>{{hipo.nombre}} {{hipo.ape1}} {{hipo.ape2}}</td>
                     <td>{{hipo.dadesEconomiques.capital|currency:'€'}}</td>
                     <td>{{hipo.interesAplicat}}</td>
                     <td>{{hipo.quotaMensual}}</td>

                     <td>
                         <a><i class="fa fa-trash-o" ng-click="vm.mortgagesList.$remove(hipo)" aria-hidden="true"></i></a>
                        <!-- <button class="btn btn-danger" ng-click="vm.mortgagesList.$remove(hipo)" aria-label="Remove">X</button> -->
                     </td>
                   </tr>
                 </tbody>
               </table>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'></ui-gmap-google-map>
        </div>
      </div>
    </div>
  </section>
</section>
