<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            
             <div class"col-md-12">  
                <div class="widget blightblue">
                  
                  <div class="widget-content text-center text-info" style="padding:2.5em">
                        <span class="bold" style="color:white;font-size:1.8em;"><i class="fa fa-money fa-lg"> </i> ¿Do you have ground clause? Simulate your mortgage and get your money back!</span>
                  </div>   

                </div>
              
              
                  <div class="widget bblue">               
                  <div class="widget-content text-center text-info" style="padding:2.5em">
                        <span class="bold" style="color:white;font-size:1.8em;"><i class="fa fa-money fa-lg"> </i> Recover set up mortgage costs too! There is judisprudence about it </span>
                  </div>   
                </div>
              </div> 

             <div class="col-md-12 widget wgreen">
            <div ht-widget-header title="{{vm.mortgageInfo.title}}" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">
                <table class="table table-condensed table-striped" >
                 <thead>
                   <tr>
                     <th>Id</th>
                     <th>DNI</th>
                     <th>Nom i cognoms</th>
                     <th>Capital</th>
                     <th>Tipus d'interés</th>
                     <th>Quota</th>
                     <th>Borrar</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr ng-repeat="hipo in vm.mortgagesList" >
                     <td><a ui-sref="hipotecaEdit({idHipoteca: hipo.$id})">{{$index+1}}</a></td>
                     <td>{{hipo.nif}}</td>
                     <td>{{hipo.nombre}} {{hipo.ape1}} {{hipo.ape2}}</td>
                     <td>{{hipo.dadesEconomiques.capital|currency:'€'}}</td>
                     <td>{{hipo.interesAplicat}}</td>
                     <td>{{hipo.quotaMensual}}</td>

                     <td>
                         <a><i class="fa fa-trash-o" ng-click="vm.mortgagesList.$remove(hipo)" aria-hidden="true"></i></a>
                        <!-- <button class="btn btn-danger" ng-click="vm.mortgagesList.$remove(hipo)" aria-label="Remove">X</button> -->
                     </td>
                   </tr>
                 </tbody>
               </table>
            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>  

        

        </div>
         <div class="col-md-6">
          <div class="widget borange">               
               <div class="widget-content text-center text-info" style="padding:2.5em">
                    <span class="bold" style="color:white;font-size:1.8em;"><i class="fa fa-balance-scale fa-lg"></i>&nbsp;{{vm.messageCount}} Mortgage Lawyers close to you. Get your money back faster</span>
               </div>
          </div>
          <div class="widget-content text-center text-info">
                <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
                    <!-- <ui-gmap-marker coords="vm.marker.coords" idKey='vm.marker.id' > -->
                    <ui-gmap-markers models="vm.randomMarkers" coords="'self'" icon="'icon'">
                       <ui-gmap-windows show="show">
                          <div ng-non-bindable>{{info}}</div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>
                </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div> 
       
      </div>
    </div>
  </section>
</section>
